/* Login.css */

.card-signin {
  max-width: 400px;
  margin: 0 auto;
  margin-top: -600px;
  margin-left: 750px;
  background-color: #f7f7f7;
  border: 1px solid #dcdcdc;
  border-radius: 45px;
  box-shadow: 0px 0px 5px 0px #dcdcdc;
  padding: 20px;
  text-align: center;
  margin-bottom: 80px;
  }

.loading-image {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.form-group-signin {
  position: relative;
  margin-bottom: 15px;
}

.input-signin {
  width: 100%;
  padding: 10px;
}

.show-password-button-signin {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
}

.eye-icon {
  color: #555;
  cursor: pointer;
  margin-top: 18px;
}

.signin-button {
  width: 35%;
  padding: 10px;
  font-size: 18px;
  background-color: #bdbfc2;
  color: #000000;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 20px;
}
.otp-signin-button {
  width: 35%;
  padding: 10px;
  font-size: 18px;
  background-color: #bdbfc2;
  color: #000000;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  margin-top: 10px;
  justify-content: space-around;
}
.signup-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;

}


.dhac {
  margin-top: 20px;
  font-size: 16px;
}

.left-side-image img{
  margin-top: 80px;
  margin-bottom: 100px;
  width: 600px;
  height: 500px;
}