.custom-footer {
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.5); /* White color with 50% opacity */
  backdrop-filter: blur(5px); /* Add blur effect */
  border: 1px solid rgb(189, 189, 189); /* Border color */
}

  .custom-footer ul li {
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-weight: bolder;
  }
  @media screen and (max-width: 600px) {
    .custom-footer{
         margin-top: 50px;
    }
 
  }