.header {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to multiple rows */
    overflow-x: auto; /* Enable horizontal scrolling for smaller screens */
    justify-content: space-around;
  }
  
  .header::-webkit-scrollbar {
    width: 8px; /* Adjust the scrollbar width as needed */
    height: 8px;
  }
  
  .header::-webkit-scrollbar-thumb {
    background-color: #00b3ff00;
    border-radius: 6px;
    height:1px; /* Adjust the scrollbar height as needed */
  }
  
  .header::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 6px;
  }
  
  .city {
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: margin 0.3s, transform 0.3s;
  
    /* Circular Image Styles */
    .circle {
      margin-left: 30%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  
    .city-name {
      margin-left: 30%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  
    .city:hover {
      transform: scale(1.1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  
    .city.active {
      /* Add styles for the active city here */
      border: 2px solid #e41515; /* Example: Red border for the active city */
    }
  
    .city:hover .dropdown-menu {
      display: block;
    }
    /* Media Queries */
    @media screen and (max-width: 600px) {
      .circle {
        width: 40px;
        height: 40px;
      }
      margin: 5px;
    }
  
    @media screen and (max-width: 400px) {
      .circle {
        width: 30px;
        height: 30px;
      }
      margin: 5px;
    }
  
    @media screen and (min-width: 601px) and (max-width: 900px) {
      .circle {
        width: 80px;
        height: 80px;
      }
      margin: 8px;
    }
  
    @media screen and (min-width: 901px) and (max-width: 1200px) {
      .circle {
        width: 50px;
        height: 50px;
      }
      margin: 6px;
    }
  
    @media screen and (min-width: 1201px) {
      .circle {
        width: 70px;
        height: 70px;
      }
      margin: 5px;
    }
  
    @media screen and (max-width: 480px) {
      .circle {
        width: 40px;
        height: 40px;
      }
      margin: 3px;
    }
  
    @media screen and (max-width: 320px) {
      .circle {
        width: 30px;
        height: 30px;
      }
      margin: 3px;
    }
  }
  