/* HeaderImage.css */

.city {
  position: relative;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  width: 150px;
  margin-left: 75px;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: space-between;
  object-fit: cover;
}

.city-name {
  margin-top: 5px;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1;
  display: none;
  min-width: 160px;
  padding: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.city:hover .dropdown-menu {
  display: block;
}

.slick-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-prev::before,
.slick-next::before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #161414 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .slick-slide {
  width: 195px !important;
} */

/* Media Queries */

/* @media screen and (max-width: 600px) {
  .city {
    margin: 10px;
  }

  .circle {
    width: 50px;
    height: 50px;
  }
} */

/* @media screen and (max-width: 400px) {
  .header {
    justify-content: baseline;
  }

  .city {
    margin: 18px;
  }

  .circle {
    width: 35px;
    height: 35px;
  }
} */