.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
  height: auto;
  align-items: center;
}

.circle {
  width:50px; /* Adjust the width and height as needed */
  height: 60px;
  border-radius: 50%;
  margin-left: 100px;
  object-fit: cover; /* Ensure the image fills the circle */
  margin: 8px; /* Adjust the margin between the images */
  transition: transform 0.3s ease; /* Add transition for smooth hover effect */
}

.circle:hover {
  transform: scale(1.1); /* Apply scale transformation on hover */
}

.city-name {
  margin-left: -120px;
  margin-bottom: -70px;
  transition: transform 0.3s ease;
}

.city-name:hover {
  transform: scale(1.1);
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  border-radius: 20%;
  background-color: #f7d8d8;
}

.city-names {
  margin-bottom: -100px;
  margin-right: -130px;
  transition: transform 0.3s ease;
}

.city-names:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .header {
   
    flex-direction: row;
    align-items: center;
  }
  .header img {
    height: 20px;
    width: 20px;
   
  }

  .circle {
    width: 4%;
    height: 4%;
    margin-left: -90px;
  }

  .city-name {
    margin-right: 10px;
    margin-bottom: -25px;
    font-size: 4px;
  }

  .city-name:hover {
    transform: scale(1.1);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 20%;
    background-color: #f7d8d8;
  }

  .city-names p{
    margin-bottom: 40px;
    margin-left: 90px;
    font-size: 8px;
  }

  .city-names:hover {
    transform: scale(1.1);
  }
}
