.login-page{
    padding: 5% 10%;
    width: 50%;
}


.input-fields input{
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 192);
    width: 400px;
height: 40px;
border-radius: 10px;

margin-bottom: 30px;
}
.input-fields input:hover{
    border: 1px solid rgb(75, 75, 255);
    transition: 1s right;
}
.input-fields{
    display: flex;
    flex-direction: column;

}
.login-text h2{
    font-size: 30px;
}
.login-text h4{
    font-size: 16px;
    color: grey;
    font-style: normal;
    font-weight: normal;
}
.login-head{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 20px;

}
.login-head h2{
    font-size: 16px;
    color: grey;
    font-weight: normal;
}
.login-btn{
    color: white;
    font-weight: 701;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    display: flex;
    letter-spacing: 2px;
    border: none;
    background: #5151ff;
    width: 400px;
justify-content: center;
align-items: center;
height: 40px;
border-radius: 10px;
margin-left: 7px;
cursor: pointer;
}
.login-btn:hover{
    background: rgb(37, 37, 255);
    transition: 0.5s;
}
.login-container{
    display: flex;
    flex-direction: row;
}
.clickable-heading {
    cursor: pointer;
    transition: color 0.3s;
}

.clickable-heading:hover {
    color: #5151ff;
    border-bottom: 2px solid #5151ff;
    
}
.otp-btn{
    color: white;
    font-weight: 701;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    display: flex;
    letter-spacing: 2px;
    border: none;
    background: #5151ff;
    width: 400px;
justify-content: center;
align-items: center;
height: 40px;
border-radius: 10px;
margin-left: 7px;
cursor: pointer;
}
@media (max-width: 768px) {
    .login-page {
        padding: 5% 5%;
        width: 100%; 
    }
    .input-fields input {
        width: 90%; 
        height: 20px;
    }
    .image-right{
        display: none;
    }
    .login-btn,.otp-btn{
        color: white;
        font-weight: 501;
        font-size: 14px;
        font-family: cursive;
        padding: 8px;
        display: flex;
        letter-spacing: 1px;
        border: none;
        background: #5151ff;
        width: 200px;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    margin-left: 3.5px;
    cursor: pointer;
    }

}