.register-page{
    padding: 5% 10%;
    width: 50%;
}


.input-fields input{
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgb(192, 192, 192);
    width: 400px;
height: 40px;
border-radius: 10px;

margin-bottom: 30px;
}
.input-fields input:hover{
    border: 1px solid rgb(75, 75, 255);
    transition: 1s right;
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.register-text{
    height: 120px;
}
.register-text h2{
    font-size: 30px;
}
.register-text h4{
    font-size: 16px;
    color: grey;
    font-style: normal;
    font-weight: normal;
}
.register-head{
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-bottom: 20px;

}
.register-head h2{
    font-size: 16px;
    color: grey;
    font-weight: normal;
}
.register-btn{
    color: white;
    font-weight: 701;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    display: flex;
    letter-spacing: 2px;
    border: none;
    background: #5151ff;
    width: 400px;
justify-content: center;
align-items: center;
height: 40px;
border-radius: 10px;
margin-left: 7px;
cursor: pointer;
}
.register-btn:hover{
    background: rgb(37, 37, 255);
    transition: 0.5s;
}
.register-container{
    display: flex;
    flex-direction: row;
}
.clickable-heading {
    cursor: pointer;
    transition: color 0.3s;
}

.clickable-heading:hover {
    color: #5151ff;
    border-bottom: 2px solid #5151ff;
    
}
.image-right img{
    width: 100%;
    height: 100%;
}
.img-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.register-image-preview{
    display: flex;
justify-content: center;
align-items: center;
width: 100px;
height: 100px;
border-radius: 50%;
overflow: hidden;
margin-bottom: 30px;
border: 2px solid #ccc;
background-color: #f2f2f2;
}
.register-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .register-image-preview,
  .upload-button-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 #profile-image{
    display: none;
 }
 
  
  .upload-button-register {
    display: inline-block;
    
    font-size: 12px;
    font-weight: bold;
    color: #2e2e2e;
    
    border-radius: 3px;
    cursor: pointer;
  }
  
  .upload-button-register label {
    display: inline-block;
    cursor: pointer;
  }

@media (max-width: 768px) {
    .register-page {
        padding: 5% 5%;
        width: 100%; 
    }
    .input-fields input {
        width: 90%; 
        height: 20px;
    }
    .image-right{
        display: none;
    }
    .register-btn{
        color: white;
        font-weight: 501;
        font-size: 14px;
        font-family: cursive;
        padding: 8px;
        display: flex;
        letter-spacing: 1px;
        border: none;
        background: #5151ff;
        width: 200px;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 10px;
    margin-left: 3.5px;
    cursor: pointer;
    }

}