/* slider.css */
.multi-range-slider {
  border: none;
  width: 100%;
  padding: 0;
  border-radius: 5px;
  background-color: #a7a7a7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.range {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.range input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
}

.range input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.range input[type="range"]::-webkit-slider-thumb:active {
  box-shadow: 0 2px 6px rgba(53, 52, 52, 0.039);
}

.range input[type="range"]:hover::-webkit-slider-thumb {
  background-color: #e0e0e0;
  border-color: #999999;
}

.range .slider-value {
  margin-left: 10px;
  font-size: 14px;
  color: #777777;
}

.range .slider-value span {
  font-weight: bold;
}

.range input[type="range"]::-moz-range-progress {
  background-color: transparent;
}

.multi-range-slider .ruler .ruler-rule {
  border: solid 1px;
  display: none;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px 0;
}

.multi-range-slider .ruler .ruler-label {
  font-size: 12px;
  color: #ee1414;
  margin-top: 5px;
}

.multi-range-slider .ruler .ruler-label:first-child {
  margin-left: -5px;
}

.multi-range-slider .ruler .ruler-label:last-child {
  margin-right: -5px;
}

.multi-range-slider .ruler .ruler-label.show {
  display: block;
}
