
.formContainer {
    max-width: 400px;
    margin: 0 auto;
  }


.inputContainer {
    margin-bottom: 16px;
}
  

.label {
    display: block;
    font-weight: bold;
}
  

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  

button {
    padding: 10px 20px;
    margin-right: 8px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #0063b7;
    cursor: pointer;
}
  

button:hover {
    background-color: #005499;
}
  

  .cancel-button {
    background-color: #ccc;
  }
  

  .cancel-button:hover {
    background-color: #b9b9b9;
  }
  