.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 30px 50px;
    border: 2px solid black;
    height: auto;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20px;
  }
  
  .details p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .details p .spanprice {
    font-weight: bold;
  }
  
  .gray {
    color: gray;
    margin-right: 100px;
  }
  