/* Policy.css */

.policy-container {
 
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exit-button {
  background-color: #e44d26;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.exit-button:hover {
  background-color: #d63717;
}

.hotelName {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #f80000;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
  justify-content: space-between;
}

.policy-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.policy-item {
  flex: 1 0 300px; /* Adjust the width as needed */
  margin: 0 15px 15px 0;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.policy-item p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

hr {
  border: 0;
  border-top: 2px solid #ddd;
  margin: 25px 0;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

/* Add more styles as needed */
