/* Policies.css */


.policies-container {
    padding: 0; /* Remove padding */
    width: 100%; /* Full width */
    background-color: #fff; /* White background for content */
    box-shadow: none; /* Remove box shadow for a flat look */
    margin: 0; /* Remove margins */
}

.policy-card {
    margin-bottom: 10px; /* Reduced margin for cards */
    padding: 10px; /* Keep padding for card */
}

.header {
    text-align: center;
    font-size: 28px; 
    margin-bottom: 15px; 
    color: #333;
    border-bottom: 2px solid #ccc; 
    padding-bottom: 5px; 
}

.policy-card {
    margin-bottom: 15px; /* Reduced margin for cards */
    padding: 10px; /* Reduced padding for card */
    border-bottom: 1px solid #ddd; /* Separation between cards */
}

.card-title {
    font-size: 14px; /* Set card title size */
    color: #0056b3;
    margin-bottom: 5px; /* Reduced margin */
    border-bottom: 1px solid #ddd; /* Line below title */
    padding-bottom: 5px; /* Smaller padding */
}

.sub-title {
    font-size: 14px; /* Set subtitle size */
    margin-top: 10px; /* Reduced margin */
    margin-bottom: 5px; /* Reduced margin */
    color: #0056b3;
    border-bottom: 1px solid #ddd; /* Line below subtitle */
    padding-bottom: 5px; /* Smaller padding */
}

.section {
    display: flex;
    align-items: center; /* Align items vertically centered */
    margin: 5px 0; /* Reduced margin for compactness */
}

.icon {
    font-size: 20px; /* Smaller icon size */
    margin-right: 8px; /* Space between icon and text */
    color: #007bff;
}

.title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.text {
    margin: 0;
    color: #555;
    font-size: 14px; 
}

.statusIcon {
    font-size: 20px; 
    margin-right: 8px; 
}

.allowed {
    color: #28a745; 
}

.not-allowed {
    color: #dc3545; 
}

.divider {
    height: 2px;
    background-color: #ddd;
    margin: 20px 0;
}


@media (max-width: 767px) {
    .card-title {
        font-size: 12px;
    }

    .sub-title {
        font-size: 12px;
    }

    .title {
        font-size: 12px; 
    }

    .icon {
        font-size: 18px; 
    }

    .statusIcon {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .policy-card {
        display: flex;
        flex-direction: column;
    }
    
    .section {
        flex-wrap: wrap; 
    }
    
    .section .icon {
        flex-basis: auto; 
    }
    
    .section div {
        flex-basis: auto;
    }
}
