.welcome-text {
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

position: absolute;
top: 50%;
left: 40%;

}
.welcome-text h1{
  font-size: 40px;
  font-weight: 501;
  color: white;
}