/* Google.css */

.google-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.google-text {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.google-logo {
  width: 100px; /* Adjust the size as needed */
  height: auto;
}

.error-image {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  display: none; /* Initially hidden, will be shown conditionally */
}
