
.slide-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: -35px;
}

.swiper-container {
  max-width: auto;
  height: 300px;
}

.swiper-container img {
  max-width: auto;
  height: 300px;
}

