@import "tailwindcss";

/*
  ये स्टाइल मोबाइल डिवाइस पर स्क्रॉल करते समय फिक्स्ड एलिमेंट्स (जैसे हेडर और बॉटम नेविगेशन)
  के हिलने (jittering) की समस्या को ठीक करने में मदद करते हैं।
*/
html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  overscroll-behavior-y: contain; /* वर्टिकल 'पुल-टू-रीफ्रेश' एक्शन को रोकता है */
}
